*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: #253341;

  color: #FFF;
}

.container{
  margin: 15% auto;
  width: 60%;
}
@media (max-width:991px) {
  .container{
    width: 100%;
  }
}
.center{
  text-align: center;
  font-size: 30px;
}